css
#cart-message {
    float: left;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

#cart-message:hover {
    cursor: pointer;
}

.fa-shopping-cart {
    text-align: center;
}

cart-component {
    margin-left: 45%;
}