/* CSS Document */
/*        
============================================
Title: Assignment 8.3
Author: Professor Krasso
Date: 10 MAY 2022
Modified By: <ANITA TAYLOR>
Description: This program demonstrates the
use of JavaScript types, values, and
and variables in an application.
===========================================
*/
 
.app-header {margin-left: 200px; margin-right: 200px; font-size: 28px;}
 
body
 
{ text-align: center; max-width: 1000px; margin-left: 20%;
 
font-size: 28px;
 
    font-family: 'Oswald', Verdana, Arial, sans-serif;  box-shadow: 1px 2px 1px 2px #888888;            
 
}
 
button {font-size: 16px; width: 300px; height: 40px;
 
background-color: #3C275A; color: #ffffff; border-radius: 5px; margin-top: 10px; margin-bottom: 30px;
 
}
 
.form-field {padding-top: 20px; padding-bottom: 10px; font-size: 16px;}
 
#btnSubmit {margin-right: 320px; margin-left: 0px; font-size: 16px;}
 
#assign-container1 {text-align: center; box-shadow: 1px 2px 1px 2px #888888; max-width: 800px; font-size: 16px;} 
#form {text-align: center; box-shadow: 1px 2px 1px 2px #888888; margin-left: 0px; margin-right: 240px;} 
 
 
.return-home {margin-top: 10px; float: left; margin-left: -50px; text-decoration: none; margin-top: 10px;
 
font-size: 16px;}
